<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trvia Race</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
</head>

<body>
    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#" class="navigation__link"><span>01</span>About Natous</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link"><span>02</span>Your benfits</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link"><span>03</span>Popular tours</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link"><span>04</span>Stories</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link"><span>05</span>Book now</a></li>
            </ul>
        </nav>
    </div>

    <header class="header">
        <div class="openingScene">
            <img class="trivia-logo" src="img/trivia.png" width="50%">
        </div>
        <div class="header__logo-box">
            <img src="img/trivia.png" alt="Logo" class="header__logo">
        </div>

        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">Trivia I Guess?</span>
                <span class="heading-primary--sub">Don't know don't care</span>
            </h1>

            <a href="#section-tours" class="btn btn--white btn--animated">How To Play</a>

        </div>
    </header>

    <h1>Trivia Game</h1>
    <form id="login">
        <label for="name">
            <b>Please enter your name:</b>
        </label>
        <input required type="text" name="name" value="Username" />
        <button for="login" type='submit'> ENTER GAME</button>
    </form>

    <div id="board">

    </div>

    <div id="users">
        <table>
            <tr>
                <th>Username</th>
                <th>Action</th>
            </tr>
            <% for (var x in users) { %>
            <tr id="username">
                <%= users[x].name %>

            </tr>
            <tr class="actionbar">
                <form class="readybutton">
                    <input type="hidden" name="ready" value="<%= users[x]._id %>" />
                    <button for="readybutton" type='submit'> Ready </button>
                </form>
            </tr>
            <% } %>
        </table>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var socket = io.connect();

            $('#login').submit(function (e) {
                e.preventDefault();
                name = $('#login input').val();
                socket.emit("new_user", {
                    "name": name,
                });
            });

            $('.readybutton').submit(function (event) {
                event.preventDefault();
                ready = event.target['1']['value']
                console.log(event.target['1']['value'])
                console.log('ready event', ready)
                socket.emit("action", ready
                );
            });

            socket.on('connection_response', function (data) {
                console.log('The server says your id is: ' + data.response);
                id = data.response;
            });
            socket.on('connect_user', function (username) {
                $('#login').fadeOut('fast', function () {
                    $('#body').fadeIn('fast');
                });
            });
            socket.on('display_update_users', function (username) {
                $('#board').append("<p>" + username.response + " has connected.</p>");
            });
            socket.on('disconnect_user', function (username) {
                $('#board').append("<p>" + username.response + " has disconnected.</p>");
            });
        })
    </script>

</body>

</html>