<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MindBender | Bend Your Mind</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/icon-font.css">
    <link rel="shortcut icon" type="image/png" href="img/trivia.png">
</head>

<body>
    <!-- <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#" class="navigation__link"><span>01</span>About Natous</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link"><span>02</span>Your benfits</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link"><span>03</span>Popular tours</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link"><span>04</span>Stories</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link"><span>05</span>Book now</a></li>
            </ul>
        </nav>
    </div> -->

    <header class="header">
        <div class="openingScene">
            <img class="trivia-logo" src="img/trivia.png" width="50%">
        </div>
        <div class="header__logo-box">
            <img src="img/trivialogo.png" alt="Logo" class="header__logo">
        </div>

        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">Mindender</span>
                <span class="heading-primary--sub">Bend Your Mind</span>
            </h1>

            <a href="#howTo" id="howTo" class="btn btn--white btn--animated">How To Play</a>

        </div>
    </div>
    </header>

    <section class="section-features">

        <div class="row">
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-world"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">Ready Up</h3>
                    <p class="feature-box__text">Grab a few friends, add your name and click ready to start the ultimate trivia experience.
                        
                    </p>
                </div>
            </div>

            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-compass"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">Grab Your Phone</h3>
                    <p class="feature-box__text">
                        In order to play the game, you'll need your phone to answer the questions. Don't let your friends see the answer you chose!
                    </p>
                </div>
            </div>

            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-map"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">Gameplay</h3>
                    <p class="feature-box__text">
                        Whenever a question is answered correctly, your progress bar advances. You want to be the first person to fill your bar in order to win. 
                    </p>
                </div>
            </div>

            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon"></i> 
                    <h3 class="heading-tertiary u-margin-bottom-small">Play Smart</h3>
                    <p class="feature-box__text">
                        Please don't play this game while driving or operating heavy machinary. Best played with booze. Have fun!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <br><br><br><br><br>
    <h1>Trivia Game</h1>
    <form id="login">
        <label for="name">
            <b>Please enter your name:</b>
        </label>
        <input required type="text" name="name" value="Username" />
        <button for="login" type='submit'> ENTER GAME</button>
    </form>

    <div id="board">

    </div>
<center>
    <div id="users">
        <table>

            <th>Username</th>
            <th>Action</th>

            <% for (var x in users) { %>

            <td id="username">
                <%= users[x].name %>

            </td>
            <td class="actionbar">
                <form class="readybutton">
                    <input type="hidden" name="ready" value="<%= users[x]._id %>" />
                    <button for="readybutton" type='submit'> Ready </button>
                </form>
            </td>
            <% } %>
        </table>
    </div>
    </center>

    <section class="section-tours" id="section-tours">
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                Please answer following questions
            </h2>
        </div>

        <div class="row">
            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--1">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--1">First Question</span>
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li>When the "White House" was build?</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-1">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <div class="form__group u-margin-bottom-medium">
                                    <form action="/action_page.php" method="get">
                                        <div id="answers">
                                                    <input type="checkbox" name="vehicle" value="Bike"> First Answer<br>
                                                    <input type="checkbox" name="vehicle" value="Car" checked> Second
                                                    Answer<br>
                                                    <input type="checkbox" name="vehicle" value="Car" checked> Third
                                                    Answer<br>
                                                    <input type="checkbox" name="vehicle" value="Car" checked> Fourth
                                                    Answer<br> <br>
                                                <a href="#popup" class="btn btn--white">Submit!</a>
                                        </div>
                                    </form>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--2">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--2">Second Question</span>
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li>In which of the listed countries french is official language?</li>
                            </ul>
                        </div>

                    </div>
                    <div class="card__side card__side--back card__side--back-2">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <form action="/action_page.php" method="get">
                                    <div id="answers">
                                        <input type="checkbox" name="vehicle" value="Bike"> First Answer<br>
                                        <input type="checkbox" name="vehicle" value="Car" checked> Second Answer<br>
                                        <input type="checkbox" name="vehicle" value="Car" checked> Third Answer<br>
                                        <input type="checkbox" name="vehicle" value="Car" checked> Fourth Answer<br><br>
                                        <a href="#popup" class="btn btn--white">Submit!</a>
                                    </div>
                                </form>
                                <br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--3">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--3">Third Question</span>
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li>Who is the first president of USA?</li>
                            </ul>
                        </div>

                    </div>
                    <div class="card__side card__side--back card__side--back-3">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <form action="/action_page.php" method="get">
                                    <div id="answers">
                                        <input type="checkbox" name="vehicle" value="Bike"> First Answer<br>
                                        <input type="checkbox" name="vehicle" value="Car" checked> Second Answer<br>
                                        <input type="checkbox" name="vehicle" value="Car" checked> Third Answer<br>
                                        <input type="checkbox" name="vehicle" value="Car" checked> Fourth Answer<br><br>
                                        <a href="#popup" class="btn btn--white">Submit!</a>
                                    </div>
                                </form>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                var socket = io.connect();

                $('#login').submit(function (e) {
                    e.preventDefault();
                    name = $('#login input').val();
                    socket.emit("new_user", {
                        "name": name,
                    });
                });

                $('.readybutton').submit(function (event) {
                    event.preventDefault();
                    ready = event.target['1']['value']
                    console.log(event.target['1']['value'])
                    console.log('ready event', ready)
                    socket.emit("action", ready
                    );
                });

                socket.on('connection_response', function (data) {
                    console.log('The server says your id is: ' + data.response);
                    id = data.response;
                });
                socket.on('connect_user', function (username) {
                    $('#login').fadeOut('fast', function () {
                        $('#body').fadeIn('fast');
                    });
                });
                socket.on('display_update_users', function (username) {
                    $('#board').append("<p>" + username.response + " has connected.</p>");
                });
            });
            socket.on('display_update_users', function (username) {
                $('#board').append("<p>" + username.response + " has connected.</p>");
            });
            socket.on('disconnect_user', function (username) {
                $('#board').append("<p>" + username.response + " has disconnected.</p>");
            });
            // $("#howTo").click(function () {
            //     $([document.documentElement, document.body]).animate({
            //         scrollTop: $(".section-features").offset().bottom
            //     }, 2000);
            // });
            $('#howTo').click(function(){
                $([document.documentElement,document.body]).animate({
                    scrollTop: $('.section-features').offset().top
                })
        })
    
    </script>

</body>

</html>
        